.page.library {
    background-color: #60a917;
    padding: 2rem;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
  }
  
  .tabs button {
    margin: 0.5rem;
    padding: 0.7rem 1.2rem;
    background-color: #8fd121;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }