.page.login {
    background-color: #60a917;
    padding: 2rem;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    text-align: center;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    width: 80%;
    max-width: 300px;
  }
  
  button {
    padding: 0.7rem 1.2rem;
    margin-top: 1rem;
    background-color: #f7d202;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }